html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #26ADE4
}

p {
  line-height: 1.5;
  max-width: 600px;
}

.icon {
  margin-left: 1%;
  margin-right: 1%;
}
